[user]
	name = Daisuke KONISHI
	email = skydai1151@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto
        ui = auto

[color "status"]
	added = green
	changed = yellow
	untracked = red

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[fetch]
	prune = true

[core]
	autocrlf = input
	filemode = false
	ignorecase = false
	excludesfile = ~/.config/git/ignore

[mergetool]
	keepBackup = true

[log]
        date = short

[init]
	templatedir = ~/.git-template
	defaultBranch = main
[pull]
	ff = only
[push]
	autoSetupRemote = true
	default = current
