[user]
	name = Daisuke KONISHI
	email = skydai1151@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
        ui = auto
[color "status"]
	added = green
	changed = yellow
	untracked = red
[fetch]
	prune = true
[core]
	autocrlf = input
	filemode = false
	ignorecase = false

[mergetool]
	keepBackup = true
